*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;   /*pallet*/
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.game {
height: 60vmin;
width: 60vmin;
display: flex;
flex-wrap: wrap;  /*  if no space then come in the next line */
justify-content: center;
align-items: center;
gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width:18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(11, 231, 11);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
}
#reset-btn{
    padding:0.5rem;
    background-color: purple;
    color:white;
    font-size: 1.5rem;
    border-radius:15vmin;
}
#msg{
    color: white;
    font-size: 8vmin;
}
.msg-container{
    height:30vmin;
}
.hide{
    display: none;
}
.head{
    margin-top: 5vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 55px;
}